{erl_opts, [debug_info]}.
{deps, [
  {
    jsx,
    {
      git,
      "https://github.com/talentdeficit/jsx.git",
      {branch, "v2.8.0"}
    }
  }
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [mytestbot]}
]}.

{relx, [{release, {mytestbot, "0.0.1"},
         [mytestbot]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
